<div class="container request-page">
  <div class="container-inner">

    <div class="row clearfix">
      <div class="column column--sm-8">
        {{breadcrumbs}}
      </div>
    </div>

    <div class="row clearfix">
      <div class="column column--sm-8">
        <section class="request-column" id="main-content">
          {{satisfaction}}

          <p class="request-id">{{t 'request' request_number=request.id}}</p>

          <h1 class="request-subject">{{request.subject}}</h1>


          <div class="lt-comments" id="comments" itemscope itemtype="http://schema.org/UserComments">
            <ul class="lt-comments__list">
              {{#each comments}}
              <li class="lt-comment" id="{{anchor}}">
                <div class="lt-comment__inner">
                  <div class="lt-comment__content">
                    <div class="lt-entry-info lt-comment__header">
                      <div class="lt-entry-info__avatar">
                        <div class="lt-avatar {{#if author.agent}}lt-avatar--agent{{/if}}">
                          <img class="lt-user-avatar lt-user-avatar--default" src="{{author.avatar_url}}" alt="Avatar">
                        </div>
                      </div>
                      <div class="lt-entry-info__content">
                        <b class="author">
                          {{#link 'user_profile' id=author.id}}
                          {{author.name}}
                          {{/link}}
                        </b>
                        <div class="lt-meta">
                          {{date created_at timeago=true}}
                        </div>
                      </div>
                    </div>

                    <div class="lt-comment__body">{{body}}</div>
                      {{#if attachments}}
                        <ul class="lt-list-unstyled lt-attachment-list">
                          {{#each attachments}}
                          <li class="lt-attachment-list__item">
                            <span
                              class="fa fa-paperclip lt-attachment-list__icon"
                              aria-hidden="true">
                            </span>
                            <a href="{{url}}" target="_blank">{{name}}</a>
                            <div class="lt-meta">({{size}})</div>
                          </li>
                          {{/each}}
                        </ul>
                      {{/if}}
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>

            {{pagination}}

          </div>

          <p class="request-follow-up lt-d-print-none">{{comment_callout}}</p>

          {{#form 'comment' class='lt-comment-form lt-d-print-none'}}
            <div class="lt-comment-form__avatar">
              <div class="lt-avatar avatar--comment">
                {{user_avatar class='lt-user-avatar lt-user-avatar--default'}}
              </div>
            </div>
            <div class="lt-comment-form__body">
              {{#if help_center.request_ccs_enabled}}
              <div class="lt-comment-form__ccs">
                {{token_field 'ccs'}}
              </div>
              {{/if}}
              {{wysiwyg 'body' rows='4'}}
            </div>
            <div class="lt-comment-form__attachments">
              {{upload}}
            </div>
            <div class="lt-comment-form__controls">
              <div class="lt-comment-form__mark-as-solved">
                {{checkbox 'mark_as_solved'}}
                {{label 'mark_as_solved'}}
              </div>
              {{input type='submit'}}
            </div>
          {{/form}}
        </section>
      </div>
      <div class="column column--sm-4">
        <div class="request-sidebar">
          <p><b>{{t 'submitted_by' requester_name=request.requester.name}}</b></p>

          <dl class="request-details">

            {{#form 'organization' id='request-organization'}}
              <dt>{{t 'organization'}}</dt>
              <dd>{{select 'organization'}}</dd>
            {{/form}}

            {{#if group}}
              <dt>{{t 'group'}}</dt>
              <dd>
                <span>{{group.name}}</span>
              </dd>
            {{/if}}

            <dt>{{t 'status'}}</dt>
            <dd>
              <span class="request-status request-status--{{request.status}}" title="{{request.status_description}}">
                {{request.status_name}}
              </span>
            </dd>

            {{#if request.type}}
              <dt>{{t 'type'}}</dt>
              <dd>
                <span>
                  {{request.type_name}}
                  {{#is request.type 'task'}}{{t 'task_due_date' due_date=request.due_date}}{{/is}}
                </span>
              </dd>
            {{/if}}

            {{#if request.priority}}
              <dt>{{t 'priority'}}</dt>
              <dd>
                <span>{{request.priority_name}}</span>
              </dd>
            {{/if}}

            {{#if assignee}}
              <dt>{{t 'assignee'}}</dt>
              <dd>
                <span>{{assignee.name}}</span>
              </dd>
            {{/if}}

            {{#each custom_fields}}
              <dt>{{title}}</dt>
              <dd>
                <span>{{value}}</span>
              </dd>
            {{/each}}

            {{#if attachments}}
              <ul class="list-unstyled attachment-list">
                {{#each attachments}}
                  <li class="attachment-list__item">
                    <span class="fas fa-paperclip attachment-list__icon"></span>
                    <a href="{{url}}" target="_blank">{{name}}</a>
                    <div class="meta">({{size}})</div>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

            {{#if collaborators}}
              <dt>{{t 'ccs'}}</dt>
              <dd>
                <span>{{t 'ccs_description'}}</span>
                <ul class="list-unstyled">
                  {{#each collaborators}}
                    <li>{{name}}</li>
                  {{/each}}
                </ul>
              </dd>
            {{/if}}
          </dl>
        </div>

        <p>
        {{link 'new_request' class='btn btn--primary' role='button'}}
        </p>
      </div>
    </div>
  </div>
</div>
