<div class="container my-activities-page">
  <div class="container-inner">
    <header class="my-activities-header">
      <h1 class="h2">{{t 'my_activities' }}</h1>
    </header>

    <nav class="my-activities-menu my-activities-menu--main">
      <ul class="my-activities-menu__items clearfix">
        <li class="my-activities-menu__item">{{link 'requests'}}</li>
        <li class="my-activities-menu__item">{{link 'contributions'}}</li>
        <li class="my-activities-menu__item is-active">{{t 'following'}}</li>
      </ul>
    </nav>

    {{#if subscriptions}}
      <table class="my-activities-items" id="main-content">
        <thead class="my-activities-items__head">
          <tr class="my-activities-items__row">
            <td class="my-activities-items__col">{{t 'title'}}</td>
            <td class="my-activities-items__col">{{t 'type'}}</td>
            <td class="my-activities-items__col">{{t 'subscription'}}</td>
            <td class="my-activities-items__col">&nbsp;</td>
          </tr>
        </thead>
        <tbody class="my-activities-items__body">
          {{#each subscriptions}}
            <tr class="my-activities-items__row my-activities-item">
              <td class="my-activities-items__col">
                <a class="my-activities-item__title" href="{{url}}">
                  {{excerpt title characters=60}}
                </a>
              </td>
              <td class="my-activities-items__col my-activities-item__meta">
                {{name}}</td>
              <td class="my-activities-items__col my-activities-item__meta">
                {{following}}</td>
              <td
                  class="my-activities-items__col my-activities-item__meta subscriptions-subscribe">
                {{subscribe}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{pagination}}
    {{else}}
      <p>{{t 'not_following'}}</p>
    {{/if}}
  </div>
</div>